root = true

# Thus spake the Lord: Thou shalt indent with four spaces. No more, no less.
# Four shall be the number of spaces thou shalt indent, and the number of thy
# indenting shall be four. Eight shalt thou not indent, nor either indent thou
# two, excepting that thou then proceed to four. Tabs are right out.

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
